.text-uppercase{
    text-transform: uppercase;
}
div{

    padding: 8px 20px;
    border-radius: 50px;
    background-color: rgba(1, 226, 170, 0.466);
    display:inline-block
}

a{
    text-decoration: none;
}





footer /* กรอบล่างสุด */{    
    background-color: #6229AE; 
    text-align: center;  /* ขยับให้ตัวอักษรอยู่ตรงกลาง */
    color: aliceblue;
    padding: 10px;
}